/* GENERAL */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
    color: #ffffff;
    font-size: 16px;
}

a {
    color: #ffffff;
    text-decoration: none;
}


/* FONTS */

header, footer {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

nav, .content article, aside {
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
}


/* HEADER */

header {
    background-color: #2a607c;
    padding: 20px;
}

header h1 {
    display: inline-block;
    font-size: 48px;
}

.seo {
    color: #d9dcd6;
}


/* NAV */

nav {
    float: right;
    padding-top: 15px;
    margin-right: 20px;
    font-size: 20px;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline-block;
    margin-left: 25px;
}


/* HERO */

.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}


/* MAIN */

main {
    display: flex; flex-flow: row wrap;
    justify-content: space-between;
    margin: 0 20px;
}


/* PRIMARY CONTENT */

.content {
    width: 75%;
}

.content article {
    background-color: #0072bb;
    height: 300px;
    padding: 50px;
    margin-bottom: 20px;
}

.content article img {
    max-height: 200px;
}

.content article h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}


/* SIDEBAR CONTENT */

aside {
    padding: 20px;
    width: 20%;
    background-color: #2589bd;
}

aside div {
    margin-bottom: 32px;
}

aside div h3 {
    margin-bottom: 10px;
    text-align: center;
}

aside div img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}


/* FOOTER */

footer {
    padding: 30px;
    text-align: center;
}

footer h2 {
    font-size: 20px;
}
